/* Document top */
header {
    max-width: 100%;
    overflow: hidden;
}

.top-nav-box {
    display: flex;
    height: 5vh;
    justify-content: center;
    background-color: white;
    z-index: 2;
    box-shadow: 0px -1px lightgray inset;
}

.top-nav-links ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: -1.5vh 0 0;
}

.top-nav-links li {
    margin: 1.1vw; /* Adjust spacing between the items */
}

.top-nav-links a {
    text-decoration: none;
    font-family: Publik, Gibson, gibsonRegular, Arial, sans-serif;
    color: black;
}

/* Logo */
.nav-logo-outer-box{
    position: absolute;
    height: 13vh;
    width: 10vw;
    background-color: white;
}
.nav-logo-box {
    display: flex;
    position: relative;
    top: 3vh;
    left: 3vw;
    height: 8.7vh;
    width: 4.6vw;
    z-index: 3;
    background-image: url(https://www.dr.dk/hydra/assets/assets/dr-nyheder_primary.62243b1f5f54c136b429.svg);
}


/* Main menu navbar */
.main-menu-navbar-box {
    display: flex;
    position: relative;
    justify-content: flex-start;
    height: 9vh;
    background-color: white;
    z-index: 2;
    box-shadow: 0px -1px lightgray inset;
}

.main-menu-navbar-links ul {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: 14vw;
    list-style: none;
    margin: -1.9vh 6vw 0;
}

.main-menu-navbar-links li {
    margin: 1.1vw;
}

.main-menu-navbar-links a {
    text-decoration: none;
}
.main-menu-navbar-links h3 {
    font-family: Publik, Gibson, gibsonRegular, Arial, sans-serif;
}

/* Main menu buttons */
.main-menu-log-in-button{
    display: flex;
    align-items: center;
    position: relative;
    left: 77vw;
    top: 2vh;
    justify-content: flex-end;
    width: 10vw;
    height: 5vh;
}

.main-menu-log-in-button button {
    cursor: pointer;
    background-color: red;
    border: transparent;
    color: white;
    display: flex;
    align-items: center;
    font: inherit;
    font-size: .9057971014rem;
    height: 4vh;
    overflow: hidden;
    text-decoration: none;
    font-family: Publik, Gibson, gibsonRegular, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    width: 5.5vw;
}

.search-icon{
    display: flex;
    align-items: center;
    position: relative;
    left: 79vw;
    top: 2vh;
    width: 4vw;
    height: 5vh;
}

.search-icon img {
    width: 3vw;
    height: 3vh;
}

.menu-button {
    display: flex;
    position: relative;
    left: 79vw;
    top: 2.5vh;
    width: 3vw;
    height: 4vh;
}

/* News headline */
.main-headline-area-box {
    display: flex;
    position: relative;
    background-color: white;
    /* Husk top og bottom så den får korrekt placering */
    height: 13vh;
    margin-top: -3vh;
    padding-bottom: 4vh;
}

.headline-box {
    display: flex;
    flex-wrap: wrap;
    height: 13vh;
    width: 20vw;
    margin-left: 6vw;

}

.headline-box h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 3em;
    font-weight: bold;
    font-family: Publik, Gibson, gibsonRegular, Arial, sans-serif;
}

/* Document mid */
#main-sec {
    display: flex;
    position: absolute;
    width: 65vw;
    height: 400vh;
    background-color: white;
}

#main-articles {
    background-color: aliceblue;
    width: 57vw;
    height: 200vh;
    margin-left: 5vw;
    margin-top: 0vh;
}

.first-art, .second-art, .third-art, .forth-art, .fifth-art {
    display: flex;
    background-color: silver;
    height: 50vh;
    margin-bottom: 5vh;
}

.first-art, .third-art, .forth-art, .fifth-art p {
display: flex;
    flex-wrap: wrap;
}

.first-art, .third-art, .forth-art, .fifth-art h2 {
    display: flex;
    flex-wrap: nowrap;
}


/* Side news section */
#side-news-sect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-left: 65vw;
    height: 100vh;
    width: 26vw;
    padding-bottom: 100vh;
    background-color: aquamarine;
    overflow-y: scroll; /* Enables vertical scrolling */
    scrollbar-width: thin;
}

.side-stories {
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding-bottom: 700vh;
}

.side-stories li {
    height: 25vh;
    padding-bottom: 7vh;
    width: 25vw;
    box-shadow: -2px -2px black;
}

.first-art, .second-art, .third-art, .forth-art, .fifth-art {

}

.first-art, .second-art, .third-art, .forth-art, .fifth-art {}

/* Document Bottom */

#other-links {
    background-color: darkkhaki;
}

footer {
    background-color: dodgerblue;
}