/* Navigations bar sektion */

.navbar { /* 5, 100, 100 Tidligere farve */
    background-color: rgba(195, 217, 239, 0.9); /*169, 212, 255, 50*/
    top: 0;
    position: sticky;
    overflow: hidden;
    transition: top 0.3s;
    z-index: 3;
}

.navbar nav {
    display: flex;

}


.navbar ul {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 4vw;
    gap: 4vw;
    list-style-type: none;
}


/* gammel kode*/
/* .navbar a {
color: aquamarine;
background-color: cadetblue;
padding: 10px;
border-radius: 20px;
text-decoration: none;
} */
/*
.navbar a:hover {
    font-size: 18px;
}
*/


/* Body Sektionen */
html, body {
    /*margin: 0;
    padding: 0;
    height: 100%; */
    overflow-x: hidden;
    overscroll-behavior: none;

    /* Hide scrollbar for WebKit browsers (Chrome, Safari) */

    body::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */

    body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

body {
    position: relative;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-image: url('a22adf5f-3d6c-488c-b166-f1b8e4b701f7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(15px);
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 150%;
    width: 125%;
    background-color: rgba(194, 225, 255, 0.75);
    z-index: -1;
    pointer-events: none; /* Ensure the overlay doesn't block clicks (Taget fra ChatGPT)*/
}

body.dark-mode::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 150%;
    width: 125%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -1;
    pointer-events: none; /* Ensure the overlay doesn't block clicks (Taget fra ChatGPT)*/
}

.my-name {
    display: flex;
}

.my-name div {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 23vw;
    margin-top: 15vh;
    width: 46vw;
    height: 15vh;
    background-color: rgba(54, 57, 90, 0.15);
    padding: 10px;
    border-radius: 15px;
    z-index: 1;
}

/* Main sektionen */
.my-name h1 {
    display: flex;
    position: absolute;
    justify-content: center;
    margin-top: -0.5vh;
    font-family: "Red hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    color: azure;
}

.my-name p {
    position: absolute;
    display: inline-block;
    margin-top: 9vh;
    font-family: "Red hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: azure;
}

/* About me sektionen */
.pic-of-me {
    width: auto;
    height: auto;
    display: inline-block;
}

.pic-of-me img {
    position: relative;
    top: 25px;
    left: -25px;
    width: auto;
    height: 50%;
    object-fit: contain;
}

.about-me {
    display: flex;
}

.about-me {
    background-color: rgb(194, 225, 255);
    height: 74vh;
    padding: 35px;
}

.about-list {
    display: flex;
    align-items: flex-start;
    background-color: rgba(54, 57, 90, 0.15);
    padding: 10px;
    border-radius: 15px;
    color: azure;
    height: 25vh;
    width: 100vw;
    margin-top: 8vh;
}

.about-list h2 {
    position: relative;
    bottom: 2vh;
    margin-left: 5vh;
    width: 30vw;
    font-size: 30px;
    font-optical-sizing: auto;
    /* Flyt den lidt op? */
}

.about-list ul {
    margin-top: 7vh;
    position: relative;
    right: 28vw;
    bottom: 2vh;
    list-style-type: none;
    width: 25vw;
    font-optical-sizing: auto;
}

.empty-space {
    min-height: 100vh;
}

/* Footer sektionen */
footer {
    padding: 1%;
    background-color: rgb(194, 225, 255);
}


/* Button */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


/* Dark Mode button from web */
html {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.mid {
    display: flex;
    align-items: center;
    justify-content: center;
    /*  padding-top: 1em; */
}

/* Switch starts here */
.rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid rgba(238, 238, 238, 0);
}

.rocker-small {
    font-size: 0.75em; /* Sizes the switch */
    margin: 1em;
}

.rocker::before {
    content: "";
    position: absolute;
    top: 2.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    /* border-bottom: 0; */
}

.rocker input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-left,
.switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
}

.switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
}

.switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #bd5757;
    color: #fff;
}

.switch-left::before,
.switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
}

.switch-left::before {
    left: -0.4em;
}

.switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
}

input:checked + .switch-left {
    background-color: #0084d0;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
    background-color: #ccc;
}


